<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}F2000.FR - Intranet formation{% endblock %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="index,follow" />
        <meta name="author" content="F2000.FR" />
        <meta name="title" content="F2000.FR - Intranet formation" />

        <link rel="stylesheet" type="text/css" href="{{ asset('env/css/global.css') }}" />
        <script src = "{{ asset('env/js/global.js') }}" ></script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            <header>
            </header>
        {% endblock %}

        {% block body %} {% endblock %}

        {% block footer %}
            <div style="padding-bottom: 50px;"></div>
            <footer class="navbar-fixed-bottom fs-small">
                <a href="http://www.F2000.FR" target="_blank">
                    Copyright © 2013 F2000.FR - Tous droits réservés
                </a>
            </footer>
        {% endblock %}
    </body>
</html>
